.footer {
    width: 100%;
    width: 1024px;
    font-size: 12px;
}

.footerContainer {
    display: flex;
    justify-content: center;
    background-color: darkblue;
}

.footerLists {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
}

.footerList {
    list-style: none;
    padding: 0;

}

.footerListItem {
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}