.locationItemContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    justify-content: center;
}

.locationContainer {
    display: flex;
    justify-content: center;
    margin: 40px;
}